.download-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #D7A975; /* Bootstrap primary blue */
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.download-button:hover, .download-button:focus {
  background-color: #D7A975;
  color: white;
  text-decoration: none;
}

/* Optional: Adding a small icon to indicate download */
.download-button::before {
  display: inline-block;
  margin-right: 5px;
}

.preekjaar {
  width: 25%;
}
.smaller {
  width: 10%;
}

#begin {
  width: 10%;
}

#eind {
  width: 10%;
}

h2 {
  margin: 10px;
}

.year-container {
  display: flex;
  justify-content: flex-start;/*  This will push the first set to the left and the second set to the right */
  align-items: center; /* This will vertically align the items in the center */
}

.checkboxes-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px 15px;
  max-width: 100%;
  margin: 10px;
}

.label-button-container {
  grid-column: 1 / -1; /* This will make the container span the full width of the grid */
}

.full-width {
  grid-column: 1 / -1; /* This will make the container span the full width of the grid */
}

.book-checks {
  display: flex;
  align-items: center;
  padding: 8px 12px; /* Increased padding */
  border-radius: 5px;
  transition: background-color 0.2s;
}

.book-checks:hover {
  background-color: #f5f5f5;
}

input[type="checkbox"] {
  margin-right: 8px; /* Increased margin */
  transform: scale(1.5); /* Scale up the checkbox size */
}

#load {
  position: absolute;
  width: 600px;
  height: 200px;
  left: 50%;
  top: 80%;
  margin-left: -300px;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

#load div {
  position: absolute;
  width: 20px;
  height: 36px;
  opacity: 0;
  font-family: Helvetica, Arial, sans-serif;
  animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -webkit-animation: move 2s linear infinite;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  color: #35c4f0;
}

label + input[type="number"] !important {
  display: inline-block;
  margin-right: 10px;
  vertical-align: top;
  width: 50%;
}

#load div:nth-child(2) {
  animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}
#load div:nth-child(3) {
  animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s;
}
#load div:nth-child(4) {
  animation-delay: 0.6s;
  -o-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s;
}
#load div:nth-child(5) {
  animation-delay: 0.8s;
  -o-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s;
}
#load div:nth-child(6) {
  animation-delay: 1s;
  -o-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
#load div:nth-child(7) {
  animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -webkit-animation-delay: 1.2s;
}

@keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0;
  }
  35% {
    left: 41%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    left: 59%;
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    left: 100%;
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
    opacity: 0;
  }
}

input[type="number"] {
  padding: 12px 20px;
  margin: 10px 10px0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"],
select {
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.bk-btn {
  background-color: #892b21;
  width: 35%;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bk-btn:hover {
  background-color: #c21e0f;
}

.button {
  width: 100%;
  background-color: #892b21;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #c21e0f;
}

.filter-div {
  border-radius: 5px;
  background: url("https://prekevdwaal.s3.eu-west-1.amazonaws.com/InBackground.jpg");
  padding: 10px;
  margin: 10px;
}

#prekeLys,
#prekeDetail {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 96%;
  margin: 2%;
}

#prekeLys td,
#prekeDetail td,
#prekeLys th,
#prekeDetail th {
  border: 1px solid #ddd;
  padding: 8px;
}

#prekeLys tr:nth-child(even) {
  background-color: #d7a975;
}

#prekeLys tr:hover {
  background-color: #ddd;
}

#prekeLys th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #8a150a;
  color: white;
}

#prekeDetail tr:nth-child(even) {
  background-color: #d7a975;
}

#prekeDetail tr:hover {
  background-color: #ddd;
}

#prekeDetail th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #d7a975;
  color: black;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: #d7a975;
}

.min-btn {
  position: relative; /* To position the pseudo-element icon */
  padding: 10px; /* Space for the icon */
  padding-left: 30px;
  background-color: #d7a975; /* Primary color */
  color: #fff; /* White text for contrast */
  border: none; /* Explicitly remove any border */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  margin: 10px;
  /* ... other styles ... */
}

.min-btn:hover {
  background-color: #b8875c; /* Darker shade for hover */
}

.min-btn:before {
  content: ""; /* Empty content, will be set via Angular */
  position: absolute;
  left: 10px; /* Position from the left */
  top: 50%;
  transform: translateY(-50%); /* Center vertically */
  width: 15px; /* Width of the icon */
  height: 2px; /* Height of the minus icon */
  background-color: currentColor; /* Use the text color */
}
.min-btn.plus:before {
  height: 15px; /* Adjust for plus icon */
  background-image: linear-gradient(currentColor, currentColor),
    linear-gradient(currentColor, currentColor);
  background-position: center;
  background-size:
    100% 2px,
    2px 100%; /* Horizontal and vertical lines */
  background-repeat: no-repeat;
}
