<div class="preek-deets">
<h1 mat-dialog-title>Preek Detail</h1>
<table id="prekeDetail">
  <tr>
    <th>Preek No</th>
    <td>{{ enkelePreek.PreekNo }}</td>
  </tr>
  <tr>
    <th>Preek Jaar</th>
    <td>{{ enkelePreek.Jaar }}</td>
  </tr>
  <tr>
    <th>Bron</th>
    <td>{{ enkelePreek.KortBeskrywing }}</td>
  </tr>
  <tr>
    <th>Boek</th>
    <td>{{ enkelePreek.Boek }}</td>
  </tr>
  <tr>
    <th>Hoofstuk</th>
    <td>{{ enkelePreek.Hoofstuk }}</td>
  </tr>
  <tr>
    <th>Verse</th>
    <td>{{ enkelePreek.Verse }}</td>
  </tr>
  <tr>
    <th>OT_NT_BEL</th>
    <td>{{ enkelePreek.OT_NT_BEL }}</td>
  </tr>
  <tr>
    <th>Opmerking</th>
    <td>{{ enkelePreek.Opmerking }}</td>
  </tr>
  <tr>
    <th>Teks Opsie</th>
    <td>{{ enkelePreek.P_L_B }}</td>
  </tr>
  <tr>
    <th>Taal</th>
    <td>{{ enkelePreek.Taal }}</td>
  </tr>
  <tr>
    <th>Tema</th>
    <td>{{ enkelePreek.Tema }}</td>
  </tr>
</table>
</div>
